.center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    body{
        background-color: #242424;
        color: #fff;
    }
    .btn {
        padding: 10px 30px;
        background: #800020;
        color: #ffffff;
    }
    .btn:hover {
        opacity: 0.7;
    }
    .btn1 {
        padding: 10px 30px;
        background: red;
        color: #ffffff;
    }
    .btn1:hover {
        opacity: 0.7;
    }
    .red{
        color: red;
    }

    