.center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    body{
        color: #ffffff;
        background-color: #202020;
    }
    .btn {
    padding: 10px 30px;
    background: black;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.7;
}
.tyuui{
    color: red;
}