.center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn {
    padding: 10px 30px;
    background: black;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.7;
}
body{
    background-color: #202020;
    color: #ffffff;
    font-size: 23px;
}